.indicatorRow {
    height: 5vh;
}

.modeRow {
    height: 10vh;
}

.targetRow {
    height: 7vh;
}

button.ui.button.modeButton {
    width: 80%;
    height: 6vh;
    font-size: 2rem;
}

button.ui.button.changeButton {
    width: 40%;
    height: 4vh;
}

button.ui.button.submitButton {
    width: 40%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 2rem;
}

body {
    max-width: 600px;
}
