.indicatorRow {
    height: 8vh;
}

.modeRow {
    height: 15vh;
}

.targetRow {
    height: 12vh;
}

button.ui.button.modeButton {
    width: 15vw;
    height: 10vh;
}

button.ui.button.changeButton {
    width: 10vw;
    height: 8vh;
}

button.ui.button.submitButton {
    width: 25vw;
    height: 10vh;
}

body {
    max-width: 400px;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}
