.mainContent {
    padding-top: 2vh;
}

.modeCell {
    padding-right: 1vw;
    padding-left: 1vw;
    width: 33%;
}

.weatherCell {
    width: 50%;
}

.center {
    text-align: center;
}

input.changeInput.center {
    text-align: center;
}

button.ui.button {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

input.changeInput {
    height: 4vh;
}

.hidden {
    visibility: hidden;
    max-height: 0px;
}

td {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

body {
    margin: auto;
}

table {
    width: 100%;
}

.weatherPanel {
    padding-top: 1vh;
}

table.weatherPanel td {
    padding: 0.2vw;
}

.circular {
    width: 1rem;
    height: 1rem;
}

.changeButton {
    padding: 1vw;
}
