<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyStat</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" media="(min-width: 401px) and (min-height: 401px)" type="text/css"
        href="{{ url_for('static', filename='large-style.css') }}">
    <link rel="stylesheet" media="(max-width: 400px), (max-height: 400px)" type="text/css"
        href="{{ url_for('static', filename='small-style.css') }}">

    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script type="text/javascript">
        function HeatToggle(currentValue) {
            var heatButton = $("#heatButton");
            if (heatButton.hasClass("red")) {
                heatButton.removeClass("red");
            } else {
                heatButton.addClass("red");
                $("#acButton").removeClass("blue");
                $("#fanButton").removeClass("green");
            }
        }

        function ACToggle(currentValue) {
            var acButton = $("#acButton");
            if (acButton.hasClass("blue")) {
                acButton.removeClass("blue");
            } else {
                acButton.addClass("blue");
                $("#heatButton").removeClass("red");
                $("#fanButton").removeClass("green");
            }
        }

        function FanToggle(currentValue) {
            var fanButton = $("#fanButton");
            if (fanButton.hasClass("green")) {
                fanButton.removeClass("green");
            } else {
                fanButton.addClass("green");
                $("#heatButton").removeClass("red");
                $("#acButton").removeClass("blue");
            }
        }

        function ChangeTemperature(amount) {
            var temperatureInput = $("#temperatureInput");
            var temperature = parseFloat(temperatureInput.val());
            temperature += amount;
            temperatureInput.val(temperature.toFixed(1))
        }

        function SubmitTargets() {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "");

            var mode = "off";
            if ($("#heatButton").hasClass("red")) {
                mode = "heat";
            } else if ($("#acButton").hasClass("blue")) {
                mode = "ac";
            } else if ($("#fanButton").hasClass("green")) {
                mode = "fan";
            }

            var temperature = $("#temperatureInput").val();

            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "mode");
            hiddenField.setAttribute("value", mode);
            form.appendChild(hiddenField);

            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "temperature");
            hiddenField.setAttribute("value", temperature);
            form.appendChild(hiddenField);

            document.body.appendChild(form);
            form.submit();
        }

        function UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                               todayMax, todayMin, todayPrecipProbability) {
            weatherPanel = $("#weatherPanel")
            weatherUnavailable = $("#weatherUnavailable")

            if (null === currentWeatherTemp || null === currentWeatherSummary ||
                null === todaySummary || null === todayMax ||
                null === todayMin) {

                weatherPanel.removeClass("weatherPanel")
                weatherPanel.addClass("hidden");

                weatherUnavailable.addClass("weatherPanel")
                weatherUnavailable.removeClass("hidden");
            } else {
                weatherUnavailable.removeClass("weatherPanel")
                weatherUnavailable.addClass("hidden");

                weatherPanel.addClass("weatherPanel")
                weatherPanel.removeClass("hidden");

                // update values
                $("#currentWeatherTemp").text(currentWeatherTemp + '\xB0');
                $("#currentWeatherSummary").text(currentWeatherSummary);
                $("#todayWeatherSummary").text(todaySummary);
                $("#todayWeatherTemp").text(todayMax + '\xB0 / ' + todayMin + '\xB0');
            }
        }

        $( document ).ready(function () {
            currentWeatherTemp = "{{ currentWeatherTemp }}";
            currentWeatherSummary = "{{ currentWeatherSummary }}";
            todaySummary = "{{ todaySummary }}";
            todayMax = "{{ todayMax }}";
            todayMin = "{{ todayMin }}";
            todayPrecipProbability = "{{ todayPrecipProbability }}";

            if ("None" === currentWeatherTemp || "None" === currentWeatherSummary ||
                "None" === todaySummary || "None" === todayMax ||
                "None" === todayMin || "None" === todayPrecipProbability) {

                currentWeatherTemp = null;
            }
            UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                          todayMax, todayMin, todayPrecipProbability);

            {% if "heat" == currentMode %}
                $("#heatButton").addClass("red");
            {% elif "ac" == currentMode %}
                $("#acButton").addClass("blue");
            {% elif "fan" == currentMode %}
                $("#fanButton").addClass("green");
            {% endif %}

            {% if heatRunning %}
                $("#heatIndicator").addClass("red");
            {% endif %}

            {% if acRunning %}
                $("#acIndicator").addClass("blue");
            {% endif %}

            {% if fanRunning %}
                $("#fanIndicator").addClass("green");
            {% endif %}

            window.setInterval(function () {
                $.ajax({
                    url: "/update",
                    context: document.body
                }).done(function(data) {
                    heatRunning = data["heatRunning"];
                    acRunning = data["acRunning"];
                    fanRunning = data["fanRunning"];

                    indoorTemperature = data["currentTemperature"];
                    if (indoorTemperature !== "unknown") {
                        indoorTemperature += String.fromCharCode(176)
                    }

                    currentTarget = data["currentTarget"];

                    $("#indoorTemperature").text(indoorTemperature);
                    $("#targetTemperature").text(currentTarget +
                        String.fromCharCode(176));

                    if (heatRunning) {
                        $("#heatIndicator").addClass("red");
                    } else {
                        $("#heatIndicator").removeClass("red");
                    }
                    if (acRunning) {
                        $("#acIndicator").addClass("blue");
                    } else {
                        $("#acIndicator").removeClass("blue");
                    }
                    if (fanRunning) {
                        $("#fanIndicator").addClass("green");
                    } else {
                        $("#fanIndicator").removeClass("green");
                    }

                    // update weather panel
                    currentWeatherTemp = data["currentWeatherTemp"];
                    currentWeatherSummary = data["currentWeatherSummary"];
                    todaySummary = data["todaySummary"];
                    todayMax = data["todayMax"];
                    todayMin = data["todayMin"];
                    todayPrecipProbability = data["todayPrecipProbability"];
                    UpdateWeather(currentWeatherTemp, currentWeatherSummary, todaySummary,
                                  todayMax, todayMin, todayPrecipProbability);
                });
            }, 5000);
        });
    </script>

</head>
<body id="contentBody" class="mainContent">
    <div>
        <table id="temperatureTable" class="center">
            <tbody>
                <tr>
                    <td>
                        <h1>Indoor Temperature:</h1>
                    </td>
                    <td>
                        <h1>Target Temperature:</h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1 id="indoorTemperature">{{ currentTemperature }}{% if currentTemperature != "unknown" %}&deg;{% endif %}</h1>
                    </td>
                    <td>
                        <h1 id="targetTemperature">{{ currentTarget }}&deg;</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui form">
        <table id="targetTable">
            <tbody>
                <tr class="indicatorRow">
                    <td class="center">
                        <button id="heatIndicator" class="circular ui icon disabled button">
                        </button>
                    </td>
                    <td class="center">
                        <button id="acIndicator" class="circular ui icon disabled button">
                        </button>
                    </td>
                    <td class="center">
                        <button id="fanIndicator" class="circular ui icon disabled button">
                        </button>
                    </td>
                </tr>
                <tr class="modeRow">
                    <td class="center modeCell">
                        <button id="heatButton" class="ui button modeButton" onclick="HeatToggle(true)">
                        Heat
                        </button>
                    </td>
                    <td class="center modeCell">
                        <button id="acButton" class="ui button modeButton" onclick="ACToggle(true)">
                        AC
                        </button>
                    </td>
                    <td class="center modeCell">
                        <button id="fanButton" class="ui button modeButton" onclick="FanToggle(true)">
                        Fan
                        </button>
                    </td>
                </tr>
                <tr class="targetRow">
                    <td class="center">
                        <button id="down1" class="ui button blue changeButton" onclick="ChangeTemperature(-1)">
                            <i class="left caret icon"></i>
                            -1
                        </button>
                        <button id="down.1" class="ui button teal changeButton" onclick="ChangeTemperature(-.1)">
                            <i class="left angle icon"></i>
                            -.1
                        </button>
                    </td>
                    <td class="center">
                        <div class="ui input">
                            <input id="temperatureInput" class="changeInput center" value={{ currentTarget }} type="text">
                        </div>
                    </td>
                    <td class="center">
                        <button id="up.1" class="ui button orange changeButton" onclick="ChangeTemperature(0.1)">
                            +.1
                            <i class="right angle icon"></i>
                        </button>
                        <button id="up1" class="ui button red changeButton" onclick="ChangeTemperature(1)">
                            +1
                            <i class="right caret icon"></i>
                        </button>
                    </td>
                </tr>
                <tr class="targetRow">
                    <td class="center" colspan="3">
                        <button id="submitButton" class="ui button violet submitButton" onclick="SubmitTargets()">
                        Submit Changes
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="weatherPanel" class="center">
        <table class="weatherPanel">
            <tr>
                <th id="wp1" class="weatherCell"></th>
                <th id="wp2" class="weatherCell"></th>
            </tr>
            <tr>
                <td class="weatherCell">
                    <h2>Currently:</h2>
                </td>
                <td class="weatherCell">
                    <h2>Today:</h2>
                </td>
            </tr>
            <tr>
                <td class="weatherCell">
                    <h2 id="currentWeatherTemp"></h2>
                </td>
                <td class="weatherCell">
                    <h2 id="todayWeatherTemp"></h2>
                </td>
            </tr>
            <tr>
                <td class="weatherCell">
                    <h2 id="currentWeatherSummary"></h2>
                </td>
                <td class="weatherCell">
                    <h2 id="todayWeatherSummary"></h2>
                </td>
            </tr>
        </table>
    </div>
    <div id="weatherUnavailable" class="weatherPanel center hidden"></div>
</body>
</html>
